<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IDP Sample Transfer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
    <meta http-equiv="refresh" content="20">
</head>
<body ng-app="idpModule" ng-controller="IdpController as idpApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{idpApp.thisNode}}</a>
        </div>
        <button ng-click="idpApp.openIssueCash()" type="button" class="btn btn-primary navbar-btn">Issue cash</button>
        <button ng-click="idpApp.openConfirmTransfer()" type="button" class="btn btn-primary navbar-btn">Confirm Transfer</button>
    </div>
</nav>
<script type="text/ng-template" id="idpAppIssueCash.html">
    <div class="modal-header">
        <h4 class="modal-title">Create invoice</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="amount" class="control-label">Amount:</label>
                <input type="text" ng-model="modalIssueCash.form.amount" class="form-control" id="amount">
            </div>

            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid Transaction parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalIssueCash.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalIssueCash.create()" type="button" class="btn btn-primary">Issue Cash </button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>

<script type="text/ng-template" id="idpAppConfirmTransfer.html">
    <div class="modal-header">
        <h4 class="modal-title">Pay Invoice</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="linearId" class="control-label">Linear ID:</label>
                <input type="text" ng-model="modalConfirm.form.linearId" class="form-control" id="linearId">
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalConfirm.cancel()" type="button" class="btn btn-default">Cancel</button>
            <button ng-click="modalConfirm.create()" type="button" class="btn btn-primary">Pay</button>
        </div>
    </form>
</script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel-group" id="accordion">
            <div class="panel">
                <div class="panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            My Invoices:
                        </h4>
                    </div>
                </div>
                <div>
                    <div ng-repeat="transfer in idpApp.transfers" class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Identification: {{invoice.cusip}}</li>
                                <li>Invoice Item Name: {{invoice.assetName}}</li>
                                <li>Value: {{invoice.purchaseCost}}</li>
                                <li>Owner: {{invoice.owner}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>